[Desktop Entry]
Version=1.0
Name=Livecoin Core
Comment=Connect to the Livecoin P2P Network
Comment[de]=Verbinde mit dem Livecoin peer-to-peer Netzwerk
Comment[fr]=Livecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Livecoin, eşten eşe kriptografik sanal para birimi
Exec=bitcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/bitcoin;
Categories=Office;Finance;
StartupWMClass=Livecoin-qt
