*.tar.gz

*.exe
src/livecoin
src/livecoind
src/livecoin-cli
src/livecoin-tx
src/test/test_livecoin
src/test/test_livecoin_fuzzy
src/qt/test/test_livecoin-qt

libbitcoinconsensus.pc
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/livecoin-config.h
src/config/livecoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/livecoin-qt.config
src/qt/livecoin-qt.creator
src/qt/livecoin-qt.creator.user
src/qt/livecoin-qt.files
src/qt/livecoin-qt.includes

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
livecoin-qt
Bitcoin-Qt.app
background.tiff*

# Unit-tests
Makefile.test
livecoin-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_livecoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

liblivecoinconsensus.pc
contrib/devtools/split-debug.sh
